@import "tailwindcss";
@import "./font.css";

/* @import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css"; */


@theme {
  /* Breakpoints */
  --screen-xs: 639px;

  /* Font Sizes */
  --text-xxs: clamp(1.25rem, 4vw, 2rem);

  /* Font Families */
  --font-jost: 'jost';
  --font-nunito: 'nunito';
  --font-lato: 'Lato';

  /* Animations */
  /* --animation-tape: tape 1.5s linear infinite; */

  /* Colors */
  /* --color-main-100: #6cfbce; */
  /* --color-main-200: #6cfbce; */
  /* --color-main-300: #fef3c6; */
  /* --color-main-400: #f6d48d; */
  /* --color-main-500: #fe7b2b; */
  /* --color-main-600: #2c2b39; */
  /* --color-main-700: #10162b; */
  /* --color-main-800: #1f304c; */
  /* --color-main-900: #04050a; */
}


@layer base {

  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  } */

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  /* html {
    font-family: sans-serif;
    color: #333;
  } */


  :root {
    font-family: jost, Roboto, sans-serif;
    /* font-weight: 400; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply dark:text-slate-400 dark:bg-slate-900;
    padding: 0;
    margin: 0;
    font-size: 15px;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: normal;
    margin-bottom: 0px;
  }

  svg {
    padding: 0 !important;
    vertical-align: -.125em !important;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}